@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sanji), sans-serif;
}

.font-num {
  font-family: var(--font-alimama), sans-serif !important;
}
