@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SanJi';
  src: url('/fonts/SanJiCuYuanJianTi-2.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Alimama';
  src: url('/fonts/AlimamaFangYuanTiVF-Thin-2.ttf') format('truetype');
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'SanJi', sans-serif;
}

.font-num {
  font-family: 'Alimama', sans-serif !important;
}
